.note-css {
    margin: auto;
    background-color: azure;
    width: 40rem;
    border-color: black;
    border: 1px solid;
}
.fa-trash-alt:hover{

    color:red;
}
.fa-check-square:hover {
    color:lawngreen;
}
.done{
    color:lawngreen;
}